@model ChessWebApp.Board

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

    .board-zone {
        border-collapse: collapse;
        /*to center the whole table:*/
        /*margin-left: auto;
        margin-right: auto;*/
    }

        .board-zone th {
            padding: .5em;
            font-size: large;
            text-align: center;
        }

        .board-zone td {
            position: relative;
            width: 70px;
            height: 70px;
            padding: 0;
        }

        .board-zone button {
            border: none;
            background-color: transparent;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }

    .oneSquare {
        position: relative;
        width: inherit;
        height: inherit;
    }


    .modal-body {
        display: inline-flex;
    }

    .modal-content {
        margin: 10% auto;
        width: min-content;
        border-radius: 0;
    }

    .promotion-button {
        border: none;
        background-color: transparent;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    img {
        padding: 0;
        width: 70px;
        height: 70px;
    }

    form {
        display: flex;
        justify-content: center;
    }

    .container-left {
        justify-content: right;
    }

    /*.container-right {
        justify-content: left;
    }*/
</style>

@{ ViewData["Title"] = "Index";

    string[] squareImgNames = { "lightSquare.png", "darkSquare.png" };
    var squares = Model.BoardSquares;

}


<form>
    <div class="row">
        <div class="col g-0" align="right">
            <button class="btn btn-secondary fw-bold text-white" align="end" asp-controller="Home" asp-action="RestartGame">Restart</button>
        </div>
        
        <div class="col container-center col-100">
            
            <table class="board-zone">
                <tbody>

                    @for (int i = 0; i < squares.GetLength(0); i++)
                    {
                        <tr>

                            @{ var rank = Constants.BoardLength - i + " ";}

                            <th class="rank-number">@rank</th>

                            @for (int j = 0; j < squares.GetLength(1); j++)
                            {
                                var squareColor = squares[i, j].SquareColor == SquareColor.Light ? "#eee" : "#aaa";   //black and white;

                                if (Model.LocationSquareMap[squares[i, j].Location].IsValid)
                                {
                                    squareColor = "#5c9c6f";    //green
                                }

                                <td style="background: @squareColor;">
                                    <div class="oneSquare" id="@squares[i, j].Location.File@squares[i, j].Location.Rank">
                                        <button class="square-button" name="location"
                                                value="@squares[i, j].Location.File@squares[i, j].Location.Rank"
                                                asp-controller="Home" asp-action="HandleButtonClick">
                                            @if (squares[i, j].IsOccupied)
                                            {
                                                var piece = squares[i, j].CurrentPiece;

                                                string pieceColor = piece.PieceColor == ChessWebApp.PieceColor.Light ? "white" : "black";
                                                string pieceClass = piece.GetType().Name;
                                                string fileType = ".png";

                                                <img width="40" src="~/img/pieceImgs/@pieceColor@pieceClass@fileType" />
                                            }
                                        </button>
                                    </div>
                                </td>
                            }
                        </tr>

                    }

                    <tr>
                        <th></th>
                        @*ABCDEFGH*@
                        @foreach (var file in Enum.GetValues(typeof(File)))
                        {
                            <th class="file-letter">@file</th>
                        }
                    </tr>

                </tbody>
            </table>
               
        </div>

        <div class="col">
            <button id="theme-button" class="btn btn-secondary fw-bold text-white" onclick="toggle()">Theme</button>
        </div>
    </div>
</form>


<!-- White Pieces Modal -->
<div class="modal" id="WhitePromotionModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                @{ //color is always white
                    string _fileType = ".png";

                    var pieces = new List<AbstractPiece>
                            {
                        new Queen(ChessWebApp.PieceColor.Light) { Location = new Location(File.A, 1)},
                        new Knight(ChessWebApp.PieceColor.Light) { Location = new Location(File.A, 1)},
                        new Rook(ChessWebApp.PieceColor.Light) { Location = new Location(File.A, 1)},
                        new Bishop(ChessWebApp.PieceColor.Light) { Location = new Location(File.A, 1)}
                    };

                    for (int i = 0; i < pieces.Count; i++)
                    {
                        string pieceClass = pieces[i].GetType().Name;
                        string color = pieces[i].PieceColor == PieceColor.Light ? "white" : "black";

                        <button id="@i" class="promotion-button" type="submit" name="location"
                                value="@pieceClass @color @pieces[i].Location.File @pieces[i].Location.Rank"
                                asp-controller="Home" asp-action="PromotePawn" data-dismiss="modal">

                            <img width="40" src="~/img/pieceImgs/@color@pieceClass@_fileType" />

                        </button>
                    }
                }
            </div>
        </div>
    </div>
</div>

<!-- Black Pieces Modal -->
<div class="modal" id="BlackPromotionModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                @{ //color is always white
                    pieces = new List<AbstractPiece>
                                            {
                        new Queen(ChessWebApp.PieceColor.Dark) { Location = new Location(File.A, 1)},
                        new Knight(ChessWebApp.PieceColor.Dark) { Location = new Location(File.A, 1)},
                        new Rook(ChessWebApp.PieceColor.Dark) { Location = new Location(File.A, 1)},
                        new Bishop(ChessWebApp.PieceColor.Dark) { Location = new Location(File.A, 1)}
                    };

                    for (int i = 0; i < pieces.Count; i++)
                    {
                        string pieceClass = pieces[i].GetType().Name;
                        string color = pieces[i].PieceColor == PieceColor.Light ? "white" : "black";

                        <button id="@i" class="promotion-button" type="submit" name="location"
                                value="@pieceClass @color @pieces[i].Location.File @pieces[i].Location.Rank"
                                asp-controller="Home" asp-action="PromotePawn"
                                data-dismiss="modal">

                            <img width="40" src="~/img/pieceImgs/@color@pieceClass@_fileType" />

                        </button>
                    }
                }
            </div>
        </div>
    </div>
</div>

